body {
  margin: 0 auto;
  background: url("./img/background-paw.png") center fixed;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  padding: 10px 0 10px 20px;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #000;
  align-items: center;
  border-right: 10px solid #ffd000;
}

.logo {
  letter-spacing: 4px;
  font-size: 26px;
  margin-left: 40px;
  color: #ffffff;
}

.logo:hover {
  font-size: 28px;
  letter-spacing: 5px;
  cursor: pointer;
}
.logo:hover,
.logo:not(:hover),
.nav-item:hover,
.nav-item:not(:hover),
button:hover,
button:not(:hover),
input:hover,
input:not(:hover),
.social-icon:hover,
.social-icon:not(:hover),
.dropdown-button:hover,
.dropdown-button:not(:hover) {
  transition-duration: 0.2s;
}

form {
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: space-around;
  flex-direction: column;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 3px;
}

form div {
  background-color: #000;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0.5rem #ffffff;
}

form input {
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}

::placeholder {
  color: #bbbab5;
  font-size: 18px;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  padding: 20px;
  background-color: #ffd000;
  width: 40%;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
}

.nav-item:hover {
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #000;
  color: #ffffff;
  padding: 5px;
  box-shadow: 0 0 0.5rem #000;
}

.dropdown-button {
  background-color: #ffd000;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  margin-right: 30px;
  display: none;
}

.navbar-hidden {
  display: none;
}

.navbar-shown {
  display: block;
  padding: 20px;
  background-color: #ffd000;
  color: #000;
}

main {
  background: url("./img/background-paw.png") center fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 20px;
  height: 100%;
}

img {
  width: 400px;
  height: 400px;
  border: 3px solid #000;
}

.img-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: 20px 10px;
  text-align: center;
}

button {
  margin: 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: #ffd000;
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid #ffffff;
}

button:hover,
input:hover {
  cursor: pointer;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  box-shadow: 0 0 1rem #ffffff;
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 10px 20px;
  padding: 30px 0 30px 20px;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #000;
  color: #ffffff;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  letter-spacing: 1.5px;
  margin-top: 10px;
  font-size: 14px;
}

.footer-img {
  margin: 0 30px;
}

.social-icon {
  filter: brightness(0.75);
  border-radius: 30%;
  width: 35px;
  margin: 0 10px;
  height: 35px;
  background-color: #ffd000;
}

.social-icon:hover {
  width: 37px;
  height: 37px;
  cursor: pointer;
  box-shadow: 0 0 0.5rem #ffffff;
  background-color: #ffffff;
  filter: none;
}

@media only screen and (max-width: 700px) {
  header {
    border-left: 12px solid #ffd000;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
  }

  .logo {
    margin: 30px 30px;
  }

  .navbar {
    display: none;
  }

  .dropdown-button {
    display: block;
    right: 50px;
  }

  .dropdown-button:hover {
    background-color: #ffffff;
    cursor: pointer;
    width: 42px;
    height: 42px;
  }

  .nav-item {
    margin-bottom: 15px;
  }

  img {
    width: 300px;
  }

  form {
    margin: 0 30px;
    text-align: center;
  }

  form div {
    margin-top: 10px;
  }
}
